@import "swiper/css";
@import "swiper/css/navigation";
@import "swiper/css/pagination";
@import "tailwindcss";

html,body {
    scroll-behavior: smooth;
    min-height: 100vh;
}

@theme {
    /* Background */
    --lightmode-background-color: white;
    --lightmode-background-color-secondary: #f3f3f3;
    --lightmode-background-color-tertiary: #e5e5e5;
    --darkmode-background-color: #0f1117;
    --darkmode-background-color-hover: black;
    /* Text */
    --lightmode-text-color-primary: black;
    --lightmode-text-color-secondary: #363b43;
    --lightmode-text-color-tertiary: #4a5565;
    --darkmode-text-color-primary: white;
    --darkmode-text-color-secondary: #d1d5dc;
    --darkmode-text-color-tertiary: #a3a7ac;
    /* Border */
    --darkmode-border-color: #262a34;
    --lightmode-border-color: #e5e7eb;
    /* Accents */
    --accent-color: #5294e2;
    --accent-color-hover: #4781c7;
    /* Pills */
    --darkmode-pill-background-color: #364153;
    --lightmode-pill-background-color: #e5e7eb;
}

.swiper-button-next, .swiper-button-prev {
    /* Same as accent color */
    color: #5294e2;
}

.swiper-pagination-bullet {
    /* Same as accent hover color */
    background-color: #4781c7;
}

.swiper-pagination-bullet-active {
    /* Same as accent color */
    background-color: #5294e2;
}